USE [master]
GO
/****** Object:  Database [CINEMA]    Script Date: 6/13/2024 11:28:26 AM ******/
CREATE DATABASE [CINEMA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CINEMA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER00\MSSQL\DATA\CINEMA.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CINEMA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER00\MSSQL\DATA\CINEMA_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CINEMA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CINEMA]
GO
/****** Object:  Table [dbo].[KHACH_HANG]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACH_HANG](
	[MaKH] [int] IDENTITY(1,1) NOT NULL,
	[TenKH] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[Email] [varchar](50) NOT NULL,
 CONSTRAINT [PK_KHACH_HANG] PRIMARY KEY CLUSTERED 
(
	[MaKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LICH_CHIEU]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LICH_CHIEU](
	[NgayChieu] [date] NOT NULL,
	[MaPhong] [varchar](10) NOT NULL,
	[MaPhim] [int] NOT NULL,
	[MaSuatChieu] [int] IDENTITY(1,1) NOT NULL,
	[GioChieu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaSuatChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LOAIVE]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAIVE](
	[MaLV] [varchar](10) NOT NULL,
	[TenLV] [nvarchar](50) NOT NULL,
	[Gia] [money] NOT NULL,
 CONSTRAINT [PK_LOAIVE] PRIMARY KEY CLUSTERED 
(
	[MaLV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHAN_VIEN]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHAN_VIEN](
	[TenNV] [nvarchar](50) NOT NULL,
	[NgaySinh] [date] NOT NULL,
	[CMND] [varchar](12) NOT NULL,
	[SDT] [varchar](10) NOT NULL,
	[DiaChi] [nvarchar](50) NOT NULL,
	[GioiTinh] [bit] NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[MaNV] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIM]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHIM](
	[MaPhim] [int] IDENTITY(1,1) NOT NULL,
	[TenPhim] [nvarchar](100) NOT NULL,
	[MoTa] [nvarchar](1000) NULL,
	[NuocSX] [nvarchar](10) NULL,
	[NgayKhoiChieu] [date] NOT NULL,
	[NamSX] [int] NOT NULL,
	[DaoDien] [nvarchar](50) NULL,
	[DienVien] [nvarchar](1000) NULL,
	[ThoiLuong] [int] NULL,
	[DiemIMDb] [float] NULL,
	[LinkAnh] [varchar](8000) NULL,
	[LinkIMDb] [varchar](8000) NULL,
	[LinkTrailer] [varchar](8000) NULL,
	[MaTT] [int] NULL,
 CONSTRAINT [PK__PHIM__4AC03DE3734F300D] PRIMARY KEY CLUSTERED 
(
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PHONG](
	[MaPhong] [varchar](10) NOT NULL,
	[TrangThai] [bit] NOT NULL,
	[TongSoGhe] [int] NOT NULL,
 CONSTRAINT [PK_Phong] PRIMARY KEY CLUSTERED 
(
	[MaPhong] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[QUYEN]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[QUYEN](
	[MaQuyen] [varchar](10) NOT NULL,
	[TenQuyen] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHUC_VU] PRIMARY KEY CLUSTERED 
(
	[MaQuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SUKIEN]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUKIEN](
	[MaSK] [int] IDENTITY(1,1) NOT NULL,
	[TenSK] [nvarchar](100) NULL,
	[MoTaSK] [ntext] NULL,
	[ChiTietSK] [ntext] NULL,
	[PosterSK] [varchar](8000) NULL,
 CONSTRAINT [PK_SUKIEN] PRIMARY KEY CLUSTERED 
(
	[MaSK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[TAIKHOAN]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TAIKHOAN](
	[Email] [varchar](50) NOT NULL,
	[MaQuyen] [varchar](10) NOT NULL,
	[Password] [char](50) NOT NULL,
 CONSTRAINT [PK__TAIKHOAN__A9D1053551FB21C0] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THE_LOAI]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THE_LOAI](
	[MaTL] [varchar](10) NOT NULL,
	[TenTL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CHI_TIET_THE_LOAI] PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[THE_LOAI_PHIM]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[THE_LOAI_PHIM](
	[MaTL] [varchar](10) NOT NULL,
	[MaPhim] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaTL] ASC,
	[MaPhim] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VE]    Script Date: 6/13/2024 11:28:26 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VE](
	[MaSuatChieu] [int] NOT NULL,
	[MaKH] [int] NULL,
	[SoGhe] [int] NOT NULL,
	[NgayBan] [date] NOT NULL,
	[MaLV] [varchar](10) NOT NULL,
	[MaNV] [int] NULL,
	[MaVe] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MaVe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[KHACH_HANG] ON 

INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [SDT], [DiaChi], [GioiTinh], [Email]) VALUES (32, N'Võ Mạnh Duy', CAST(N'2002-10-17' AS Date), N'0344668675', N'Hồ Chí Minh', 0, N'khach@gmail.com')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [SDT], [DiaChi], [GioiTinh], [Email]) VALUES (35, N'Lê Trần Thanh Nguyên', CAST(N'2002-11-17' AS Date), N'0987654321', N'Hồ Chí Minh', 0, N'khach2@gmail.com')
INSERT [dbo].[KHACH_HANG] ([MaKH], [TenKH], [NgaySinh], [SDT], [DiaChi], [GioiTinh], [Email]) VALUES (53, N'Nguyen quoc khoa', CAST(N'1993-04-08' AS Date), N'0999999999', N'Hồ Chí Minh', 1, N'tranhatdong1808@gmail.com')
SET IDENTITY_INSERT [dbo].[KHACH_HANG] OFF
SET IDENTITY_INSERT [dbo].[LICH_CHIEU] ON 

INSERT [dbo].[LICH_CHIEU] ([NgayChieu], [MaPhong], [MaPhim], [MaSuatChieu], [GioChieu]) VALUES (CAST(N'2024-06-10' AS Date), N'P01', 1, 43, 9)
INSERT [dbo].[LICH_CHIEU] ([NgayChieu], [MaPhong], [MaPhim], [MaSuatChieu], [GioChieu]) VALUES (CAST(N'2024-06-10' AS Date), N'P02', 1, 44, 11)
INSERT [dbo].[LICH_CHIEU] ([NgayChieu], [MaPhong], [MaPhim], [MaSuatChieu], [GioChieu]) VALUES (CAST(N'2024-06-10' AS Date), N'P01', 1, 45, 15)
SET IDENTITY_INSERT [dbo].[LICH_CHIEU] OFF
INSERT [dbo].[LOAIVE] ([MaLV], [TenLV], [Gia]) VALUES (N'LV01', N'Ghế thường', 80000.0000)
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] ON 

INSERT [dbo].[NHAN_VIEN] ([TenNV], [NgaySinh], [CMND], [SDT], [DiaChi], [GioiTinh], [Email], [TrangThai], [MaNV]) VALUES (N'Nguyễn Thành Trung', CAST(N'2001-07-09' AS Date), N'21160037', N'0814201800', N'Hồ Chí Minh', 1, N'quanly@gmail.com', 1, 5)
SET IDENTITY_INSERT [dbo].[NHAN_VIEN] OFF
SET IDENTITY_INSERT [dbo].[PHIM] ON 

SET IDENTITY_INSERT [dbo].[PHIM] OFF
INSERT [dbo].[PHONG] ([MaPhong], [TrangThai], [TongSoGhe]) VALUES (N'P01', 0, 48)
INSERT [dbo].[PHONG] ([MaPhong], [TrangThai], [TongSoGhe]) VALUES (N'P02', 1, 48)
INSERT [dbo].[PHONG] ([MaPhong], [TrangThai], [TongSoGhe]) VALUES (N'P03', 0, 48)
INSERT [dbo].[QUYEN] ([MaQuyen], [TenQuyen]) VALUES (N'KH', N'Khách Hàng')
INSERT [dbo].[QUYEN] ([MaQuyen], [TenQuyen]) VALUES (N'QL', N'Quản Lý')
SET IDENTITY_INSERT [dbo].[SUKIEN] ON 

SET IDENTITY_INSERT [dbo].[SUKIEN] OFF
INSERT [dbo].[TAIKHOAN] ([Email], [MaQuyen], [Password]) VALUES (N'khach@gmail.com', N'KH', N'827ccb0eea8a706c4c34a16891f84e7b                  ')
INSERT [dbo].[TAIKHOAN] ([Email], [MaQuyen], [Password]) VALUES (N'khach2@gmail.com', N'KH', N'827ccb0eea8a706c4c34a16891f84e7b                  ')
INSERT [dbo].[TAIKHOAN] ([Email], [MaQuyen], [Password]) VALUES (N'quanly@gmail.com', N'QL', N'202cb962ac59075b964b07152d234b70                  ')
INSERT [dbo].[THE_LOAI] ([MaTL], [TenTL]) VALUES (N'H', N'Hài ')
INSERT [dbo].[THE_LOAI] ([MaTL], [TenTL]) VALUES (N'HD', N'Hành động ')
INSERT [dbo].[THE_LOAI] ([MaTL], [TenTL]) VALUES (N'HDG', N'Học Đường')
INSERT [dbo].[THE_LOAI_PHIM] ([MaTL], [MaPhim]) VALUES (N'HH', 3)
INSERT [dbo].[THE_LOAI_PHIM] ([MaTL], [MaPhim]) VALUES (N'HH', 12)
INSERT [dbo].[THE_LOAI_PHIM] ([MaTL], [MaPhim]) VALUES (N'KD', 2)
SET IDENTITY_INSERT [dbo].[VE] ON 

INSERT [dbo].[VE] ([MaSuatChieu], [MaKH], [SoGhe], [NgayBan], [MaLV], [MaNV], [MaVe]) VALUES (52, 35, 31, CAST(N'2024-06-10' AS Date), N'LV01', NULL, 16)
INSERT [dbo].[VE] ([MaSuatChieu], [MaKH], [SoGhe], [NgayBan], [MaLV], [MaNV], [MaVe]) VALUES (45, 53, 20, CAST(N'2024-06-10' AS Date), N'LV01', NULL, 17)
SET IDENTITY_INSERT [dbo].[VE] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Khach_Hang]    Script Date: 6/13/2024 11:28:26 AM ******/
ALTER TABLE [dbo].[KHACH_HANG] ADD  CONSTRAINT [IX_Khach_Hang] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [uc_n_p_g]    Script Date: 6/13/2024 11:28:26 AM ******/
ALTER TABLE [dbo].[LICH_CHIEU] ADD  CONSTRAINT [uc_n_p_g] UNIQUE NONCLUSTERED 
(
	[NgayChieu] ASC,
	[MaPhong] ASC,
	[GioChieu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_NHAN_VIEN]    Script Date: 6/13/2024 11:28:26 AM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [IX_NHAN_VIEN] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_NHAN_VIEN_cmnd]    Script Date: 6/13/2024 11:28:26 AM ******/
ALTER TABLE [dbo].[NHAN_VIEN] ADD  CONSTRAINT [IX_NHAN_VIEN_cmnd] UNIQUE NONCLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[KHACH_HANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACH_HANG_TAIKHOAN] FOREIGN KEY([Email])
REFERENCES [dbo].[TAIKHOAN] ([Email])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[KHACH_HANG] CHECK CONSTRAINT [FK_KHACH_HANG_TAIKHOAN]
GO
ALTER TABLE [dbo].[LICH_CHIEU]  WITH CHECK ADD  CONSTRAINT [FK_LICH_CHIEU_PHIM] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PHIM] ([MaPhim])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICH_CHIEU] CHECK CONSTRAINT [FK_LICH_CHIEU_PHIM]
GO
ALTER TABLE [dbo].[LICH_CHIEU]  WITH CHECK ADD  CONSTRAINT [FK_LICH_CHIEU_Phong] FOREIGN KEY([MaPhong])
REFERENCES [dbo].[PHONG] ([MaPhong])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[LICH_CHIEU] CHECK CONSTRAINT [FK_LICH_CHIEU_Phong]
GO
ALTER TABLE [dbo].[NHAN_VIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHAN_VIEN_TAIKHOAN] FOREIGN KEY([Email])
REFERENCES [dbo].[TAIKHOAN] ([Email])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[NHAN_VIEN] CHECK CONSTRAINT [FK_NHAN_VIEN_TAIKHOAN]
GO
ALTER TABLE [dbo].[TAIKHOAN]  WITH CHECK ADD  CONSTRAINT [FK_TAIKHOAN_Quyen] FOREIGN KEY([MaQuyen])
REFERENCES [dbo].[QUYEN] ([MaQuyen])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[TAIKHOAN] CHECK CONSTRAINT [FK_TAIKHOAN_Quyen]
GO
ALTER TABLE [dbo].[THE_LOAI_PHIM]  WITH CHECK ADD  CONSTRAINT [FK__THE_LOAI_P__MaTL__1AD3FDA4] FOREIGN KEY([MaTL])
REFERENCES [dbo].[THE_LOAI] ([MaTL])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THE_LOAI_PHIM] CHECK CONSTRAINT [FK__THE_LOAI_P__MaTL__1AD3FDA4]
GO
ALTER TABLE [dbo].[THE_LOAI_PHIM]  WITH CHECK ADD  CONSTRAINT [FK_THE_LOAI_PHIM_PHIM] FOREIGN KEY([MaPhim])
REFERENCES [dbo].[PHIM] ([MaPhim])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[THE_LOAI_PHIM] CHECK CONSTRAINT [FK_THE_LOAI_PHIM_PHIM]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACH_HANG] ([MaKH])
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK__VE__MaNV__0E6E26BF] FOREIGN KEY([MaNV])
REFERENCES [dbo].[NHAN_VIEN] ([MaNV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK__VE__MaNV__0E6E26BF]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK__VE__MaSuatChieu__0F624AF8] FOREIGN KEY([MaSuatChieu])
REFERENCES [dbo].[LICH_CHIEU] ([MaSuatChieu])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK__VE__MaSuatChieu__0F624AF8]
GO
ALTER TABLE [dbo].[VE]  WITH CHECK ADD  CONSTRAINT [FK_VE_LOAIVE] FOREIGN KEY([MaLV])
REFERENCES [dbo].[LOAIVE] ([MaLV])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[VE] CHECK CONSTRAINT [FK_VE_LOAIVE]
GO
USE [master]
GO
